
<section class="span8">
  <div class="page-header">
    <h1>Editing right ad</h1>
  </div>


<%= render 'form' %>

<%= link_to 'Show', @right_ad %> |
<%= link_to 'Back', right_ads_path %>
 </section>
