<section class="span8">
  <div class="page-header">
    <header   class="show_header">
      <h2 class="">
        Enter a new year for runway collection
      </h2>
    </header>
  </div>


  <%= render "form" %>
</section>