<section class="span12">
  <div class="page-header">
    <h1>Editing functional fashion designer</h1>
  </div>

  <%= render 'form' %>

  <%= link_to 'Show', @functional_fashion_designer %> |
  <%= link_to 'Back', functional_fashion_designers_path %>
</section>



