<li class="item span4">
  <a href="<%= image_path photo.photo(:original) %>" class="thumbnail"  rel ="lightbox[roadtrip]<%= photo.photoable_id%>">
    <%= image_tag photo.photo(:trend_small), :alt => "", :class => "absolute-image" %>
  </a>
</li>