<section   class="span12">
  <div class="page-header">
    <h1>New functional
      fashion</h1>
  </div>
  <p class="alert alert-info">
    Ensure To create a new functional designer <b><%= link_to "Here", new_functional_fashion_designer_path %></b> if not included in the collection box
  </p>

  <%= render 'form' %>

  <%= link_to 'Back', fashion_juries_path %>
</section>

