<li class="span4">
  <a href="<%= url_for magazine %>" class="thumbnail">
    <%= image_tag magazine.mag_cover(:trend_small) %>

  </a>                                   <p  class="lnk_thmb">
  <%= link_to magazine.title, magazine %>
</p>
</li>