<section class="span8">
  <div class="page-header">
    <header   class="show_header">
      <h2 class="">
        Edit runway collection
      </h2>
    </header>
  </div>

  <%= render "form" %>
</section>