/* Elastislide Style */
.es-carousel-wrapper{
	position:relative;
    -webkit-box-shadow: 3px 0 4px #BBBBBB inset,-3px 0 4px #BBBBBB inset;
    -moz-box-shadow: 3px 0 4px #BBBBBB inset,-3px 0 4px #BBBBBB inset;
    box-shadow: 3px 0 4px #BBBBBB inset,-3px 0 4px #BBBBBB inset;
    border: 1px solid   #ccc;
}
.es-carousel{
	overflow:hidden;
    padding: 10px;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:transparent;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.es-carousel ul li a:hover{
    border-color:#C21A1A;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	background:transparent url(icons/arrow-prev.png) no-repeat top left;
	width:20px;
	height:35px;
	margin-top:-17.5px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.75;
-moz-transition: all 0.3s ease-in-out;
-o-transition:all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition:all 0.3s ease-in-out;
}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background:transparent url(icons/arrow-next.png) no-repeat top left;
}
.es-nav span:hover{
          background-position:0 -35px;
}