<% right_ads = RightAd.running_ads %>
<div class="">
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-9043194741260146";
  /* cf right small */
  google_ad_slot = "8668909135";
  google_ad_width = 300;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>
<% unless right_ads.empty? %>
    <p class="ad">advertisement</p>
<% cache "right_ads" do %>
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% right_ads.each do |right_ad| %>
    <div class="<% if right_ad == right_ads.first %>active <% end %> item">
      <%= link_to image_tag(right_ad.right_banner(:trend_small)), right_ad.url %></div>

    <% end %>
    <div class="item"><%= link_to image_tag("300x600_3.jpg"), "#" %></div>
  </div>
</div>
<% end %>
<% end %>