<% slides = Slide.published.recent.limit(4) %>
<% unless slides.empty? %>
<% cache "slides" do %>
<div id="myCarousel2" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% slides.each do |slide| %>
    <div class="<% if slide == slides.first %>active <% end %>item"><%= link_to image_tag(slide.slide_image(:trend_small), style: "height: 453px; width: 302px;", alt: ""), slide.url %>
      <div class="carousel-caption"  data-y="100" data-transition="expandDown">
        <h1><%= link_to slide.title, slide.url %></h1>
        <p><%= link_to slide.caption, slide.url %></p>
      </div>
    </div>
    <% end %>
  </div>
  <!--
  <a class="carousel-control left" href="#myCarousel2" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel2" data-slide="next">&rsaquo;</a>
  -->
</div>
<% end %>
<% end %>
<div>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-9043194741260146";
  /* cf left new */
  google_ad_slot = "7826461134";
  google_ad_width = 300;
  google_ad_height = 250;
  //-->
  </script>
  <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>
